﻿
@model Class
<h1 style="color: #fff; padding: 15px 0; font-weight: 900">Hello anh đẹp trai</h1>
<p style="text-align: left; color: #fff;">Anh muốn xóa em sao ?</p>
<div style="background: #435c70; box-shadow: 1px 1px 5px 0 #455c71; width: 500px; padding: 25px">
<dl class="row" >
    <dt class="col-md-4" style="color: #fff">
        @Html.DisplayNameFor(model => model.MaLop)
    </dt>
    <dd class="col-md-5"style="color: #fff">
        @Html.DisplayFor(model => model.MaLop)
    </dd>
    <dt class="col-md-4"style="color: #fff">
        @Html.DisplayNameFor(model => model.TenLop)
    </dt>
    <dd class="col-md-5"style="color: #fff">
        @Html.DisplayFor(item => item.TenLop)
    </dd>
</dl>
<div style="padding: 10px 0">
    <div >
        <form asp-action="Delete" >
            <input  asp-for="Id" type="hidden"  />
            <input class="btn btn-primary" type="submit" value="Delete" style="border-radius: 5px; margin-right: 10px;"  />
            <a class="btn btn-primary" asp-action="Index"style=" border-radius: 5px" >Cancel</a>   
        </form>
    </div>
    
</div>
</div>
@* $1$ </form> #1# *@
@* *@
@* <h1>Delete</h1> *@
@* *@
@* <h3>Are you sure you want to delete this?</h3> *@
@* <div> *@
@*     <h4>User</h4> *@
@*     <hr /> *@
@*     <dl class="row"> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.HoTen) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.UserName) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.Password) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.Password) *@
@*         </dd> *@
@*     </dl> *@
@*      *@
@*     <form asp-action="Delete"> *@
@*         <input type="hidden" asp-for="Id" /> *@
@*         <input type="submit" value="Delete" class="btn btn-danger" /> | *@
@*        *@
@*     </form> *@
@* </div> *@
