﻿
@model Class


<h1 style="color: #fff; padding: 15px 0; font-weight: 900">Hello anh đẹp trai</h1>
<p style="text-align: left; color: #fff;">Anh muốn thay đổi em sao, anh không còn yêu em à ?</p>
@* <form> *@
    <div style="background: #435c70; box-shadow: 1px 1px 5px 0 #455c71; width: 500px; padding: 25px" >
        <div style=" width: 100%" >
            <form asp-action="Edit" >
                <div class="form-group row ">
                    <label asp-for="MaLop" class="col-md-4"></label>
                    <div class="col-md-8">
                        <input  asp-for="MaLop" style="width: 200px"class="form-control" type="text"  />
                    </div>
                   
                </div>
                <div class="form-group row">
                    <label asp-for="TenLop" class="col-md-4"></label>
                    <div class="col-md-8">
                        <input asp-for="TenLop" style="width: 200px"class="form-control" type="text" />
                    </div>
                   
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group " style="padding-top: 20px">
                    <input class="btn btn-primary" type="submit" value="Update" style="margin-right: 10px; border-radius: 5px"  />
                    <a class="btn btn-primary" asp-action="Index"style=" border-radius: 5px" >Cancel</a>   
                </div>
            </form>
        </div>
    </div>
@* </form> *@

