﻿
@model Class

@{
    ViewData["Title"] = "Hello anh đẹp trai";
}

<h1>@ViewData["Title"]</h1>
<p style="text-align: left">Anh lại nhớ em rồi à <br /> Sao đến giờ anh mới chịu tìm em  anh yêu ? </p>
@* <form> *@
<div class="container-fluid">
    <div >
        <form asp-action="GetId" method="post">
            @* <input type="hidden" name="requestpath" id="requestpath"  /> *@
            <div class="form-group row ">
                <label asp-for="Id" class="col-md-3">Tìm kiếm bằng mã Id : </label>
                <div class="col-md-5">
                    <input  asp-for="Id" style="width: 200px"class="form-control" type="text" placeholder="Nhập Id"required />
                </div>
                   
            </div> 
            <div class="form-group ">
                <input class="btn btn-primary" type="submit" value="GetId" style="padding-right:10px " />
                <a class="btn btn-primary" asp-action="Index">Cancel</a>   
            </div>
        </form>
        
    </div>
</div>
@* </form> *@

