﻿
@model IEnumerable<Class>

@{
    ViewData["Title"] = "Hello anh đẹp trai";
}


<h1 style="color: #fff; padding: 15px 0; font-weight: 900">Danh sách Lớp</h1>

 <div >
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col" style="text-transform: uppercase">@Html.DisplayNameFor(model => model.MaLop)</th>
                    <th scope="col" style="text-transform: uppercase">@Html.DisplayNameFor(model => model.TenLop)</th>
                    <th scope="col">&nbsp;</th>
                </tr>
                </thead>
                  <tbody>
                  @foreach (var item in Model)
                  {
                      <tr>
                          <td scope="col">&nbsp;</td>
                          <td>
                              @Html.DisplayFor(modelItem => item.MaLop)
                          </td>
                          <td>
                              @Html.DisplayFor(modelItem => item.TenLop)
                          </td>
                          <td>
                              <a asp-action="Edit" asp-route-id="@item.Id" class="tm-product-delete-link" style="margin-right: 10px;">
                                  <i class="fa fa-pencil"></i>
                              </a>
                              <a asp-action="Delete" asp-route-id="@item.Id" class="tm-product-delete-link">
                                  <i class="fa fa-trash"></i>
                              </a>
                          </td>
                          
                      </tr>
                  }
                  </tbody>
              </table>
            </div>
            <!-- table container -->
            <a
                asp-action="Create"
                class="btn btn-primary btn-block text-uppercase mb-3">Add new class <i class="fa fa-user-plus" style="font-size: 20px; "></i>
                </a>
          
          </div>
    </div>
