﻿
<h1 style="color: #fff; padding: 15px 0; font-weight: 900">Hello anh đẹp trai</h1>
<p style="text-align: left; color: #fff;">Thêm em vô đi anh yêu :</p>
<div class="container-fluid">
    <div style="background: #435c70; box-shadow: 1px 1px 5px 0 #455c71; width: 500px; padding: 25px; margin-bottom: 100px" >
        <form asp-action="Create" method="post">
            @* <input type="hidden" name="requestpath" id="requestpath"  /> *@
            <div class="form-group row ">
                <label  class="col-md-4">Mã sinh viên : </label>
                <div class="col-md-5">
                    <input name="MaSV"  style="width: 200px"class="form-control" type="text" placeholder="Nhập Mã sinh viên"required />
                </div>
                   
            </div>
          
            <div class="form-group row">
                <label  class="col-md-4">Họ tên :</label>
                <div class="col-md-5">
                    <input name="HoTen"  style="width: 200px"class="form-control" type="text" placeholder="Nhập Họ tên" required />
                </div> 
            </div>
            <div class="form-group row ">
                <label  class="col-md-4"> Mã lớp </label>
                <div class="col-md-5">
                    <input  name="MaLop" style="width: 200px"class="form-control" type="password" placeholder="Nhập Lớp"required />
                </div>
                   
            </div>
          
            <div class="form-group row">
                <label class="col-md-4"> Tên Lớp</label>
                <div class="col-md-5">
                    <input name="TenLop" style="width: 200px"class="form-control" type="text" placeholder="Nhập Họ tên" required />
                </div> 
            </div>   
            <div class="form-group ">
                <input class="btn btn-primary" type="submit" value="Create"style="margin-right: 10px; border-radius: 5px" />
                 
            </div>
        
        </form>
    </div>
</div>
